@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --vscode-bg: #1e1e1e;
  --vscode-text: #d4d4d4;
  --vscode-line-number: #858585;
  --vscode-heading: #569cd6;
}

body {
  background-color: var(--vscode-bg);
  color: var(--vscode-text);
}

::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  background-color: var(--vscode-bg);
}

::-webkit-scrollbar-thumb {
  background-color: #424242;
  border: 3px solid var(--vscode-bg);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #525252;
} 